{% assign lang = page.lang | default: 'es' %} {% assign term = page.term | default: '2025-fall' %} {% assign key =
'students-' | append: term %} {% assign students = site.data[key] %}
<ul class="showroom">
	{% for s in students %} {% assign title = s.title[lang] | default: s.title.es %} {% assign abstract = s.abstract[lang]
	| default: s.abstract.es %}
	<li class="card">
		<h3>
			<a href="{{ s.url }}">{{ title }}</a>
			<small>{{ s.handle }}</small>
		</h3>
		{% if abstract %}
		<p>{{ abstract }}</p>
		{% endif %}
	</li>
	{% endfor %}
</ul>
